{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<table>
    <h1>Portfolio Summary</h1>
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
    </tr>
    <td>
        
        {% for row in rows %}
        <tr>
            <td>{{ row["symbol"] }}</td>
            <td>{{ row["name"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["holdings"] }}</td>
            
        </tr>
        {% endfor %}
    </td>
    
    <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{cash}}</td>
    </tr>
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{total_cash}}</td>
    </tr>
    
</table>
    
{% endblock %}